<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet">
    <title>library</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}

{% endblock %}


<script src ="{{url_for('static',path='/js/jquery-slim.js')}}"></script>
<script src ="{{url_for('static',path='/js/bootstrap.js')}}"></script>
<script src ="{{url_for('static',path='/js/popper.js')}}"></script>
<script src ="{{url_for('static',path='/js/base.js')}}" defer></script>
<script src="https://kit.fontawesome.com/f8fa3e29a3.js" crossorigin="anonymous"></script>


</body>

</html>